In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm

In [2]:
root_dir = '../dataset/dna_dataset'
sub_dir = 'relative_dna_dnaseq_intensity'
madf = pd.read_csv(os.path.join(root_dir, 'relative_dna_proteinseq.txt'), sep='\t')

unique_pseq = np.unique(madf['protein_sequence'].values)
print(len(unique_pseq))
print(len(madf))
madf.head(3)

1154
2240

,Motif_ID,Family_Name,protein_sequence,probe_intensity_file
0,M02500_2.00,TCP,TGRKDRHSKVCTAKGPRDRRVRLSAPTAIQFYDVQDRLGFDRPSKA...,M02500_2.00:Zoo_01:6104.txt
1,M02500_2.00,TCP,TGRKDRHSKVCTAKGPRDRRVRLSAPTAIQFYDVQDRLGFDRPSKA...,M02500_2.00:Zoo_01:6113.txt
2,M01812_2.00,bZIP,EKALKKIRRKIKNKISAQESRRKKKEYMDSLEKKVESCSTENLELR...,M01812_2.00:Zoo_01:1186.txt

In [5]:
sss = ''
for x in madf['protein_sequence'].values:
    sss += str(x)
set(sss), len(set(sss))

({'A',
  'C',
  'D',
  'E',
  'F',
  'G',
  'H',
  'I',
  'K',
  'L',
  'M',
  'N',
  'P',
  'Q',
  'R',
  'S',
  'T',
  'V',
  'W',
  'Y'},
 20)

In [23]:
subf = os.path.join(root_dir, sub_dir, 'M02500_2.00:Zoo_01:6104.txt')
# subdf = pd.read_csv(, sep='\t')
# subdf.columns
# subdf
f = open(subf, 'r')
lines = f.readlines()
print(len(lines))
for line in lines:
    # print(line.rstrip().split('\t'))
    tmp = line.rstrip().split('\t')
    seq, val = tmp[0], tmp[1]
seq, val

40330

('GCATGCGATAGACCGGCGGTCTCTGCGCAACCACC', '134.3836')

In [12]:
pd.read_csv(os.path.join(root_dir, sub_dir, 'M02500_2.00:Zoo_01:6113.txt'), sep='\t')

       ACCCCGCCGCAGCGGTGGTCCCCACAATGACACCT  31209.0625
0      GCGACCATCTCTACAAGGTGGGCCCCACAAGATGT  26232.3984
1      GTAGGTGGTCCCAGCATGCATTCTTGTAGTCACGG  24828.0507
2      GAGACCCCGTGTGTACTAAATGGGGACCACATCAG  21840.3222
3      CGGGCCGGGACCACAGAACCGCCTAGTCTTTCCAT  21717.1406
4      AACCCCGTTATCAGAAGCACTCGGATCCCGTGTGC  20632.6992
...                                    ...         ...
40520  TGAAGCGCCTGGAGAAGCCCCGGCGATGCAGAGTG     99.9419
40521  AGGTCGACAATGAAGCTTGAGCAGAAGCAGCTCCC     96.9615
40522  TGGAGCGGCGCAATAAGGCACCGCCGTGCGTCACT     94.2133
40523  ACAGAGTGCAACGATGGAAGTACGGGCGTTTGCTC     94.0335
40524  AGTGTTACACGACTATACGAAGGGTTTTGACCGAT     91.2026

[40525 rows x 2 columns]